@import "~bootstrap/scss/bootstrap";

.card {
    // border: 0px;
    border-color: #272727;
    background-color: #222222;
}
.card-img {
    height: 270px;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.card-header {
    text-align: center;
    height: 80px;
    overflow-y: auto;
    background-color: #222222;
    color: white;
    border-radius: 5px;
}

.bg-black {
    background-color: #1c1c1c;
    color: #ffffff;
}
.bg-white {
    background-color: #ffffff;
    color: black;
}
// HEADER
.bg-header {
    background-color: white;
    opacity: 93%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        .img-box {
            margin: auto;
            line-height: 100px;
            height: 100%;
            img {
                width: 60%;
            }
        }
        ul {
            position: relative;
            margin: 0;
            li {
                width: 100px;
                list-style-type: none;
                text-align: center;
                display: inline-block;
                line-height: 100px;
                cursor: pointer;
                a {
                    color: black;
                    text-decoration: none;
                    padding: 50px 0;
                }
                &:hover a {
                    filter: invert(0.4);
                }
            }
            #select {
                width: 70px;
                height: 0px;
                position: absolute;
                justify-content: center;
                left: 0;
                top: 43.5px;
                transition: all 0.3s ease-out;
                div {
                    box-shadow: 0px 7px 0px 0px #0282f9ff;
                    width: 55px;
                }
            }
        }
    }
}
